.mySwiper {
  height: 100%;
}

.hero-page-img-1 {
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../assets/un4.jpg");
  background-position: -10% 50%;
  background-size: cover;
}

.hero-page-img-2 {
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/un6.jpg");
  background-position: 0% 70%;
  background-size: cover;
}

.hero-page-img-3 {
  width: 100vw;
  height: 100vh;

  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/un3.png");
  background-position: 0% 70%;
  background-size: cover;
}

.hero-page-img-5 {
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../assets/desktop - 5.png");
  background-position: 0% 30%;
  background-size: cover;
}

@media screen and (max-width: 1084px) and (min-width: 600px) {
  .hero-page-img-1 {
    background-position: 30% 50%;
  }

  .hero-page-img-2 {
    background-position: 40% 70%;
  }

  .hero-page-img-3 {
    background-position: 30% 0%;
  }
}

@media screen and (max-width: 600px) {
  .hero-page-img-1 {
    background-position: 30% 50%;
  }

  .hero-page-img-2 {
    background-position: 40% 70%;
  }

  .hero-page-img-3 {
    background-position: 30% 0%;
  }
}
